* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: ivory;
}

#intro {
  visibility: hidden;
}

#start_button {
  margin: 0 auto;
  display: table;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#main-container {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url("images/clouds2.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#missed-bubbles {
  position: absolute;
  right: 0;
  font-size: 12px;
  color: white;
  background-color: #CC0000;
  padding: 15px 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#scoreboard {
  width: 600px;
  height: 100px;
  background-color: skyblue;
  margin: 0 auto;
  border: white solid 10px;
  opacity: 0.9;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#current_score {
  float: left;
  margin: 5px 50px 10px 80px;
  display: inline-block;
}

#high_score {
  float: right;
  margin: 5px 80px 10px 50px;
  display: inline-block;
}

#score_dynamic, #high_score_dynamic {
/*  background-color: skyblue;*/
  margin: 0 auto;
/*  color: black;*/
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  width: 60px;
  height: 50px;
}

#score_dynamic {
  margin-left: 20px;
}

#high_score_dynamic {
  margin-right: 100px;
  margin-top: 38px;
}

.bubble {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  opacity: 0.9;
  z-index: 5;
}

#man {
  width: 30px;
  height: 60px;
  background-image: url("images/stick-man.png");
  background-size: cover;
  border: 2px;
  position: absolute;
  bottom: 40px;
  z-index: 3;
  left: 0px;
}

#ground {
  width: 100%;
  height: 530px;
  background-image: url("images/ground_animated.png");
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

/*#reset {
  margin: 0 auto;
  display: table;
  margin-bottom: 20px;
}*/

*/